name: Generate PDF Report

on:
  push:
    branches:
      - main
    paths:
      - '**.md'
      - '**.yaml'

jobs:
  build_pdf:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Build PDF with Pandoc
        uses: docker://pandoc/latex:latest
        with:
          args: >-
            --pdf-engine=xelatex
            metadata.yaml
            rapport.md
            -o rapport.pdf

      - name: Upload PDF artifact
        uses: actions/upload-artifact@v4
        with:
          name: rapport-pdf
          path: rapport.pdf